{% extends "base.html" %}
{% block styles %}
<style>
        /* Custom styles for the 403 page */
        body {

            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .error-container {
            text-align: center;
        }
    </style>
{% endblock %}
{% block title %}403{% endblock %}
{% block content %}
<div class="error-container">
        <h1 class="display-1">403</h1>
        <h2>Forbidden Access</h2>
        <p class="lead">Sorry, you don't have permission to access this page.</p>
    </div>
{% endblock %}