{% extends "base.html" %}
{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase text-white">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="alert alert-danger">
                                            {{ messages[0] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <form action="{{ url_for('auth.login') }}" method="post" class="needs-validation"
                                      novalidate>
                                    {{ form.hidden_tag() }}
                                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
                                    <div class="form-floating form-white mb-4">
                                        <input type="text" id="username" name="username"
                                               class="form-control form-control-lg" placeholder="Enter your username" required/>
                                        <label class="form-label" for="username">Username</label>
                                        <div class="invalid-feedback">
                                            Please enter your username.
                                        </div>
                                    </div>

                                    <div class="form-floating form-white mb-4">
                                        <input type="password" id="password" name="password"
                                               class="form-control form-control-lg" placeholder="Enter your password" required/>
                                        <label class="form-label" for="password">Password</label>
                                        <div class="invalid-feedback">
                                            Please enter your password.
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-start mb-4">
                                        <input class="form-check-input" type="checkbox" name="remember"
                                               id="form1Example3"/>
                                        <label class="form-check-label text-white" for="form1Example3"> Remember
                                            me </label>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" name='submit' value="login"
                                            type="submit">Login
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}